@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    position: relative;
}

/* Sidebar styles */
.wrapper .sidebar {
    /* position: fixed; */
    min-width: 14%;
    height: 100%;
    padding: 30px 0;
}

.wrapper .sidebar h2 {
    color: blueviolet;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.wrapper .sidebar ul li a {
    color: rgb(141, 148, 152);
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background: rgb(246, 246, 246);
}

.wrapper .sidebar ul li:hover a {
    color: rgb(85, 85, 85);
}
/* End of Sidebar styles */

/* Main-content styles */
.wrapper .main-content {
    width: 100%;
    background: rgb(246, 248, 250);
}

.wrapper .main-content .header {
    padding: 20px;
    background: blueviolet;
    color: #fff;
}

.wrapper .main-content .footer {
    padding: 10px;
    text-align: center;
    color: rgb(141, 148, 152);
    font-size: smaller;
}

/* End of Main-content styles */
